
      <header  id="home" flex>
      <md-toolbar layout=row  layout-align="space-between center" id="toolbar">
          <img src="{{APP.header.logo}}" style="width: 100px;" flex-offset=5 alt="{{APP.header.title}}"></img>
          <div layout=row layout-align="space-between" hide-xs class="navbar-header">
              <md-button ng-click="APP.scrollTo('home')" name="home">Home</md-button>
              <md-button ng-click="APP.scrollTo('cartas')" name=acerca>Acerca</md-button>
              <md-button ng-click="APP.scrollTo('porque')" name="porque">Porque</md-button>
              <md-button ng-click="APP.scrollTo('contacto')" name="contacto">Contact</md-button>
          </div>

                    <md-button ng-click="APP.toggleLeft()" class="zmdi zmdi-menu"  hide-gt-xs >
                    </md-button>


            </section>
      </md-toolbar>
       <!--  <div style="width: 50%; height: 350px;"> -->
          <div ng-carousel ng-carousel-name="example-carousel1" ng-carousel-timer="3500" layout=row layout-align="center start " flex=100 style="background-color: transparent;">
              <slidecontainer class="carousel-slides">
                  <slide class="carousel-example" >
                    <div layout=column layout-align="center start " flex-offset=10 >
                    <h6>Bienvendio a </h6><h4>Siat</h4>
                    </div>
                  </slide>
                  <!-- <slide class="carousel-example">
                    <div layout=column layout-align="center start " flex-offset=10 >
                    <h6>Sistema Integral </h6><h4 style="font-size: 4em;">Adherencia Terapeutica</h4>
                    </div>
                  </slide> -->
                  <!-- <slide class="carousel-example">Slide 3</slide>
                  <slide class="carousel-example">Slide 4</slide>
                  <slide class="carousel-example">Slide 5</slide>
                  <slide class="carousel-example">Slide 6</slide> -->
              </slidecontainer>
          </div>
        <!-- </div> -->
        <md-sidenav class="md-sidenav-left" md-component-id="left"
                          md-disable-backdrop md-whiteframe="4" style="position: fixed">

                <md-toolbar class="md-theme-indigo">
                  <h1 class="menu-title">MENU</h1>
                </md-toolbar>

                <md-content layout-margin>
                  <div layout=column layout-align="space-around">
                    <md-button ng-click="APP.scrollToSidenav('home')" name=home>Home</md-button>
                    <md-button ng-click="APP.scrollToSidenav('cartas')" name=acerca>Acerca</md-button>
                    <md-button ng-click="APP.scrollToSidenav('porque')" name=porque>Porque</md-button>
                    <md-button ng-click="APP.scrollToSidenav('contacto')" name=contacto>Contacto</md-button>
                </div>
                  <md-button ng-click="APP.toggleLeft()" class="md-accent">
                    CERRAR
                  </md-button>
                </md-content>

              </md-sidenav> 
        </header>

        
