      <header>
      <md-toolbar layout=row  layout-align="space-between center">
          <h1>{{APP.header.title}}</h1>
          <div layout=row layout-align="space-between" hide-xs>
              <md-button name="page1">Home</md-button>
              <md-button ng-click="goto('page2')" name="page2">About</md-button>
              <md-button ng-click="goto('page3')" name="page3">Services</md-button>
              <md-button ng-click="goto('page3')" name="page4">Contact</md-button>
          </div>
      </md-toolbar>
       <!--  <div style="width: 50%; height: 350px;"> -->
          <div ng-carousel ng-carousel-name="example-carousel1" ng-carousel-timer="3500" layout=row layout-align="center start " flex=50>
              <slidecontainer class="carousel-slides">
                  <slide class="carousel-example" >
                    <div layout=column layout-align="center start " flex-offset=10 >
                    <h6>Bienvendio a </h6><h4>Siat</h4>
                    </div>
                  </slide>
                  <!-- <slide class="carousel-example">Slide 2</slide>
                  <slide class="carousel-example">Slide 3</slide>
                  <slide class="carousel-example">Slide 4</slide>
                  <slide class="carousel-example">Slide 5</slide>
                  <slide class="carousel-example">Slide 6</slide> -->
              </slidecontainer>
          </div>
        <!-- </div> --> 
        </header>
        
