<md-dialog aria-label="Mango (Fruit)" flex=50 flex-xs=80>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{modal.nombre}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="modal.cancel()">
          <i class="zmdi zmdi-close" style="color: white; font-size: 1.5em;" aria-label="close dialog"></i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>{{modal.titulo}}</h2>
        <p>
          {{modal.descripcion}}
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="modal.cancel()">
        CERRAR
      </md-button>
      <span flex></span>
      <!-- <md-button ng-click="answer('not useful')">
       Not Useful
      </md-button>
      <md-button ng-click="answer('useful')">
        Useful
      </md-button> -->
    </md-dialog-actions>
  </form>
</md-dialog>