/**** BUG FIX PARA COLOREADO DE MD-ICON *****/
    md-icon {
        color: inherit !important;
    }

/************ font config ***************/
    @font-face {
        font-family: "Gotham";
        src: url(../fonts/Gotham/Gotham-Medium.otf) format('truetype');
    }
    @font-face {
        font-family: "Gotham-bold";
        src: url(../fonts/Gotham/Gotham-Bold.otf) format('truetype');
    }
    @font-face {
        font-family: "Roboto";
        src: url(../fonts/Roboto/Roboto-Medium.ttf) format('truetype');
    }
    @font-face {
        font-family: "Roboto-thin";
        src: url(../fonts/Roboto/Roboto-Thin.ttf) format('truetype');
    }
    @font-face {
        font-family: "Roboto-bold";
        src: url(../fonts/Roboto/Roboto-Bold.ttf) format('truetype');
    }
    @font-face {
        font-family: "Roboto-Light";
        src: url(../fonts/Roboto/Roboto-Light.ttf) format('truetype');
    }

    body,h1,h2,h3,h4,h5,h6,p,b, div{
        font-family: 'Gotham',"Helvetica Neue","Helvetica","Arial",sans-serif;
        
    }

/*********************** GENERAL ********************************/
  * {
    box-sizing: border-box;
    }
  .text-center{
      text-align: center;
    }
  #icono-brochure{
    transition: all .3s ease-in-out;

  }
  .icono-brochure{
    position: none;
    display: none;
  }
    
/****************HEADER*************/
  header{
    background: url('../img/bg-background.png') center center no-repeat;
    background-size: cover;
    height: 850px;
  }
  md-toolbar{
    transition: all .4s ease-in-out;
    background-color: transparent !important;
  }
  md-toolbar > h1 {
    margin-left: 2em;
  }
  md-toolbar > md-nav-bar {
    margin-right: 2em;

  }
  md-toolbar md-nav-bar md-nav-item{
    border-bottom: none !important;
    
  }
  .navbar-header button{
    color: white !important;
  }
  .fixed{
    position: fixed !important;
    background-color: white !important;
    

  }
  .fixed button{
    color: #626262 !important;
  }
  .md-toolbar-tools{
    background-color: #0fa5b8;
  }
  .md-toolbar-tools h2{
    color: white;
    font-family: 'Open Sans',"Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
}
  
  .md-dialog-content h2{
    font-family: 'Open Sans',"Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
  }
  .menu-title{
    color: #636363;
    font-family: 'Open Sans',"Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
  }
/**********SLIDER**********/
button.demo-nav {
    margin-top: 130px;
}
.ng-carousel{
  height: 100%;
  background-color: black;

}
.ng-carousel slide {
    background-color: transparent;
}
.ng-carousel slide h6{
    text-align: center;
    font-size: 4rem;
    color: #bbb;
}
.ng-carousel slide h4{
    text-align: center;
    font-size: 8rem;
    color: #bbb;
}
.ng-carousel slide.empty {
    background: none;
}
.ng-carousel slide div{
    height: inherit;
}

.ng-carousel slide:not(.empty):nth-child(odd) {
  background-color: transparent;
  color: #ccc;
}
.carousel-example div h6,
.carousel-example div h4{
  color: white;
  font-family: 'Open Sans',"Helvetica Neue","Helvetica","Arial",sans-serif;
}
.carousel-example div h6{
  font-size: 2.4em;
  margin-bottom: -20px;
}
.carousel-example div h4{
  font-size: 8em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0;
}
/****************FOOTER*************/
footer{
  background-color:#084f58;
  padding-top: 3em;
}
footer .container,
footer .container md-content{
  background-color: #084f58;
}
footer .container md-content div h1{
  padding-top: .2em;
}

footer .container md-content div h1,
footer .container md-content div p,
footer .container md-content div a{
  color: white;
  border-bottom: none;
}
#titulo-footer::before{
  left: 0 !important;
}
#titulo-footer-derecho::before{
  left: 0% !important;
}
.mapa-footer{
  padding-bottom: 2em;
}
.mas-about p{
  font-size: .9em;
  font-family: 'Open Sans',"Helvetica Neue","Helvetica","Arial",sans-serif;
}
.lista-direc a{
  font-size: .9em;
 font-family: 'Open Sans',"Helvetica Neue","Helvetica","Arial",sans-serif;
}
.lista-direc a div i{
    background: #ffffff;
    border-radius: 50%;
    color: #084f58;
    font-size: 16px;
    height: 30px;
    line-height: 16px;
    text-align: center;
    width: 30px;
}
/*argin*/
.powered p{
  color: white;
  padding-top: .5em;
  font-size: .7em;
  font-family: 'Open Sans',"Helvetica Neue","Helvetica","Arial",sans-serif;
}
.powered p a{
  font-family: 'Open Sans',"Helvetica Neue","Helvetica","Arial",sans-serif;
}



.brochure{
  position: fixed;
  bottom: 5%;
  right: 10%;
}
.brochure i{
  color: white;
  font-size: 1.2em;
}
.brochure .tool-tip{
  color: white;
}
/*********************** LANDING ********************************/


  /****************SERVICIOS SIAT*************/
  .cartas{
    background-color: rgb(242,242,242);
  }
  .servicios{
    padding-top: 0;
    padding-bottom: 0;
  }
  .servicios-items{
    padding-top: 0;
    border-right: #fff 1px solid;
    display: block;
    text-align: center;
    position:relative;
    height: 250px;
    transition: all .4s ease-out;
    overflow: hidden;
  }
  .servicios-items h4 {
     text-transform: uppercase;
     color: black;
     transition: all .4s ease-out;
     font-family: 'Open Sans',"Helvetica Neue","Helvetica","Arial",sans-serif;
     font-weight: bold;
  }
  .servicios-items-icono{
    background: #0fa5b8;
    border-radius: 0 0 30px 30px;
    color: #fff;
    font-size: 23px;
    height: 125px;
    line-height: 203px;
    margin-bottom: 10px;
    text-align: center;
    width: 48px;
    margin-bottom: 30px;
    transition: all .4s  ease-out;


  }
  .servicios-items div{
    top: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    padding: 0 20px;
    transition: .4s all ease-out;
  }
  .servicios-items div p{
    color: white;
    font-family: helvetica;
    margin-top: 10px;
  }
 .servicios-items:hover i{
    background: #fff;
    color: #0fa5b8;
    height: 61px;
    width: 35px;
    line-height: 68px;
    margin-bottom: 16px;
    font-size: 17.5px;
    padding-top: 10px;
 }
 .servicios-items:hover h4{
    color: white;
 }
 .servicios-items:hover{
    background-color: #0fa5b8;
 }
 .servicios-items:hover div{
  top: 44%;
 }

/****************ABOUT SIAT*************/
 .about{
  background-color: rgb(250,250,250);
  padding-top: 7em;
  padding-bottom: 5em;
 }
.about md-content img{
  padding-right: 2em;
  max-width: 100%;
}
.about-parrafos h4,
.about-parrafos p{
  font-family: 'Open Sans',"Helvetica Neue","Helvetica","Arial",sans-serif;
}
.titulos{
  font-weight: 700;
  font-size: 2.3em;
  color: rgb(10,10,10);
  margin-top: 0px;
  border-bottom: 1px solid #ddd;
  padding-bottom: .3em;
  font-family: 'Open Sans',"Helvetica Neue","Helvetica","Arial",sans-serif !important; 
  position: relative;

}
.titulos::before{
      background: #ddd;
    bottom: 0;
    content: "";
    height: 1px;
    left: calc(50% - 35px);
    position: absolute;
    width: 70px;
}
.subtitulos{
  font-size: 1em;
  text-transform: uppercase;
  font-style: italic;
  font-family: 'Merriweather',"Helvetica Neue","Helvetica","Arial",sans-serif !important;
  color: #adadad;
  margin-bottom: 0px;
} 
.about-parrafos p{
  font-size: 15px;
  line-height: 26px;
}

/****************PORQUE SIAT*************/
.porque{
  background-color: #096e9c;
}
.porque .encabezado{
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: rgb(250,250,250);
}
.porque > div h6{
  margin-bottom: .4em;
}
.porque > div h4{
  border-bottom: none;
}
.porque .container{
  padding-top: 3em;
  padding-bottom: 3em;
}
.porque md-content{
  background-color: #0fa5b8;
}
.porque-img-izq{
  background: url('../img/porque-paciente.jpg') center center no-repeat;
  background-size: cover;
  height: 600px;
}
.porque-img-der{
  background: url('../img/porque-medico.jpg') center center no-repeat;
  background-size: cover;
  height: 600px;
}
.porque-razones .titulo{
  font-size: 4em;
    color: white;
     font-family: 'Open Sans',"Helvetica Neue","Helvetica","Arial",sans-serif !important;
     font-weight: bold;
     margin-top: -14px;
     margin-bottom: 14px;
}
.porque-razones h4{
  font-size: 1em;
  text-transform: uppercase;
  font-style: italic;
  font-family: 'Merriweather',"Helvetica Neue","Helvetica","Arial",sans-serif !important;
  color: #39687d;
  margin-bottom: 0px;
  padding-top: 3em;
}
.porque-razon .porque-razon-icono i{
    background: #ffffff;
    border-radius: 50%;
    color: #0fa5b8;
    font-size: 34px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
}
.porque-razon .porque-razon-texto h1{
    font-size: 1.2em;
    color: white;
     font-family: 'Open Sans',"Helvetica Neue","Helvetica","Arial",sans-serif !important;
     font-weight: bold;

}
.porque-razon .porque-razon-texto p{
    color: white;
     font-family: 'Open Sans',"Helvetica Neue","Helvetica","Arial",sans-serif !important;
}
.contacto{
 
}
.contacto .encabezado{
  padding-top: 8em;
  padding-bottom: 7em;
  background-color: #f2f2f2;
}
.contacto .encabezado h6{
  margin-bottom: .4em;
}
.contacto .encabezado h4{
  border-bottom: none;
}
.contacto .encabezado .titulos::before{
      background: #fff;
    bottom: 0;
    content: "";
    height: 1px;
    left: calc(50% - 35px);
    position: absolute;
    width: 70px;
}
.contact-form-contenido{
  border-radius: 10px;
  padding: 0 3em 1em 0;
}
.contact-form-contenido .titulo{
  font-size: 2.4em;
     font-family: 'Open Sans',"Helvetica Neue","Helvetica","Arial",sans-serif !important;
     font-weight: bold; 
     padding-top: 0px;
     margin-top: 0px;
}
.contact-form-contenido .subtitulo{
    font-size: 1.1em;
     font-family: 'Open Sans',"Helvetica Neue","Helvetica","Arial",sans-serif !important;
     font-weight: bold; 
     margin: 0px;
     margin-top: -5px;
     padding: 0px;
     color: rgba(56, 162, 210, 0.9);
     font-style: italic;
     padding-bottom: .5em;
}

.contacto .container{
  padding-top: 3em;
}
.mapa .titulo{
   font-size: 2.3em;
     font-family: 'Open Sans',"Helvetica Neue","Helvetica","Arial",sans-serif !important;
     font-weight: bold; 
     padding-top: 0px;
     margin-top: 0px;
     color: #272727;
}
.mapa .subtitulo{
   font-size: 1.1em;
     font-family: 'Open Sans',"Helvetica Neue","Helvetica","Arial",sans-serif !important;
     font-weight: bold; 
     margin: 0px;
     margin-top: -5px;
     padding: 0px;
     color: rgba(56, 162, 210, 0.9);
     font-style: italic;
     padding-bottom: 1.7em;
}
.mapa .informacion{
   font-size: 1.1em;
     font-family: 'Open Sans',"Helvetica Neue","Helvetica","Arial",sans-serif !important;
     font-weight: bold; 
     margin: 0px;
     color: rgba(56, 162, 210, 0.9);
     font-style: italic;
     padding-bottom: 1.7em;
     margin-top: 1.7em;
}

